html,
body {
  height: 100%;
}


#sticky-footer {
  flex-shrink: 0;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

/* File Manager Component */

.card.window {
  width:85%;
  background: white;
  height: 35rem;
  margin: 20px auto;
}

.leftSide, .rightSide {
  height: 100%;
}

.leftSide {
  background: #f5f7f7;
}

.top {
  background: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  height: 3em;
}